<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odyssey.swiftnotes">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NoteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailsNoteActivity"
            android:label="@string/title_activity_details_note"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".utils.AlarmBroadcastReceiver" />

        <service android:name=".utils.MyNotesAlarmService" />

        <activity android:name=".activity.AboutActivity"></activity>
    </application>

</manifest>